.flex-container {
    margin: 7rem;
    display: flex;
    justify-content: space-around;
}

.flex-card {
    display: flex;
    flex-direction: column;
    background-color: #C797DF;
    border-radius: 2rem;
    width: 32rem;
    box-shadow: #704070 13px 13px 30px 0px;
}

.flex-card img {
    border-radius: 2rem 2rem 0 0;
    width: 100%;
}

.flex-card div{
    text-align: center;
    font-family: "Bookman Old Style";
    margin: .5rem 2rem 2rem 2rem;
}

.card-btn {
    text-decoration: none;
    background-color: #4D186C;
    color: #FFF;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 200px) {

}