#bg {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(#C797DF,#704070,#4D186C);
}

#pop {
    position: absolute;
    width: 18rem;
    height: 18rem;
}

#login-box form {
    width: 12rem;
    height: auto;
    margin: auto;
    background: white;
    padding: 1.5rem;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 10%;
    right: 10%;
}

#login-box form input {
    border: 1px solid #704070;
}

.inputs {
    margin-bottom: 1rem;
}